:root {
  --nav-color: #006066;
  --nav-text: white;
  --nav-brightness: 90%;
  --body-color: #FFFFFF;
  --body-text: black;
  --highlight: #ff9900;
  --foot-color: #006066;
  --foot-text: white;
}
