.leaf {
  position: absolute;
  top: 5px;
  color: transparent;
  background: linear-gradient(to bottom left, #339933, #666633);
  animation: fall 5s 0s infinite;
  transform-origin: bottom left;
  width: 50px;
  height: 40px;
  border-radius: 5px 145px 25px 150px;
  z-index: 1;
}

.leaf:before {
  content: "";
  position: absolute;
  left: 50px;
  top: 50px;
  transform: translate(-52.5px, -50px) rotate(35deg);
  height: 2.5px;
  width: 7.5px;
  background-color: #339922;
}

@keyframes fall {
  0% {
    transform: translate3d(0px, 0px, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(25px, 0px, 0) rotate(-25deg);
  }

  80% {
    transform: translate3d(0px, 0px, 0) rotate(-10deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotate(0deg);
  }
}
