/* Google Fonts, all fonts used */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Shadows+Into+Light&display=swap');

@viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

:root {
  --nav-primary: #2e240a;
  --nav-secondary: #c69c72;
  --body-primary: #797362;
  --body-secondary: #046b76;
  --color-pop: #8dB38b;
  --default-num-columns: 3;
  --primary-text: "Oxygen";
  --bold-text: "Oxygen";
  --quote-text: "Shadows Into Light", cursive;
}

/* PLANT POTS */

.plantpots {
  width: 40%;
  position: fixed;
  height: 45px;
  top: 10px;
  left: 30%;
  display: flex;
  justify-content: space-between;
}

.planter {
  float: left;
  position: relative;
  background-color: blue;
}

.plantpan {
  position:absolute;
  top: 35px;
  width: 50px;
  height: 5px;
  border-radius: 5px 5px 100px 100px;
  background-color: #4a412f;
}

.plantpot {
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: -1;
  width: 40px;
  height: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #6e634d;
}

.plantlip {
  position: absolute;
  top: 15px;
  left: 2.5px;
  background-color: #4a412f;
  width: 45px;
  height: 5px;
  border-radius: 10px 10px 10px 10px;
}

/* PLANTS */

#mood {
  position: absolute;
  background-color: #a0ab7b;
  height: 40px;
  width: 2.5px;
  left: 20px;
  z-index: -3;
  rotate: 15deg;
}

#mood span {
  background-color: inherit;
  position: absolute;
  width: 15px;
  height: 6px;
  border-radius: 100%;
  rotate: -30deg;
  left: -1px;
  top: -2px;
}

#anxiety {
  position: absolute;
  background-color: #a0ab7b;
  height: 40px;
  width: 4px;
  top: 0px;
  left: 22.5px;
  z-index: -3;
  rotate: -20deg;
}

#anxiety span {
  background-color: inherit;
  position: absolute;
  width: 12px;
  height: 6px;
  border-radius: 100%;
  rotate: 30deg;
  left: 1px;
  top: 5px;
}

#psychosis {
  position: absolute;
  background-color: #a0ab7b;
  height: 50px;
  width: 6px;
  top: -5px;
  left: 20px;
  z-index: -3;
  rotate: -8deg;
}

#psychosis span {
  background-color: #ad9668;
  position: absolute;
  width: 15px;
  height: 7px;
  border-radius: 10px 0px 10px 0px;
  rotate: 15deg;
  left: 10px;
  top: 6px;
}

#dissociation {
  position: absolute;
  background-color: #a0ab7b;
  height: 40px;
  width: 5px;
  left: 28px;
  top: -5px;
  z-index: -3;
  rotate: 12deg;
}

#eating {
  background-color: #a0ab7b;
  position: absolute;
  height: 30px;
  width: 5px;
  top: 5px;
  left: 15px;
  z-index: -3;
  rotate: 5deg;
}

#neurodivergence {
  background-color: #a0ab7b;
  position: absolute;
  height: 35px;
  width: 5px;
  top: -5px;
  left: 20px;
  z-index: -3;
  rotate: -15deg;
}

/* NAVIGATION */

.navbar {
  position: fixed;
  background-color: var(--nav-primary);
  height: 25px;
  width: 100%;
  top: 50px;
  left: 0%;
  font-family: var(--bold-text);
  font-weight: bold;
  z-index: 1;
}

.nav-title {
  width: fit-content;
  height: fit-content;
  float: left;
  position: absolute;
  left: 2.5%;
}

.navbar-button {
  width: fit-content;
  height: fit-content;
  float: right;
  position: absolute;
  right: 2.5%;
}

/* BODY */

.below-nav {
  position: absolute;
  top: 75px;
  width: 100%;
  left:0%;
}

body {
  background-color: var(--body-primary);
  color: black;
  font-family: var(--primary-text);
  font-weight: normal;
}

a {
  color: var(--color-pop);
  text-decoration: none;
  text-decoration-style: bold;
  font-weight: bold;
}

b {
  font-family: var(--bold-text);
}

h1 h2 h3 h4 h5 h6 p {
  color: black;
}

li {
  list-style-type: none;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  width: 30%;
  margin: 2.5%;
  float: left;
  position: relative;
  min-height: 240px;
}

table {
  height: 100%;
}

table, tr, td {
  vertical-align: center;
}

@media screen and (max-width: 1000px) {
  .column {
    min-height: 320px;
  }
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    justify-content: space-between;
  }
  .column {
    width: 95%;
    min-height: 0px;
  }
}

/* COPING BAG */

#skillsbox {
  width: 90%;
  height: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

#tagbox {
  width: 10%;
  right: 0%;
  float: right;
}

.item {
  color: black;
  background-color: var(--color-pop);
  border: 2px solid var(--nav-primary);
  height: 100px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.sortitem {
  color: black;
  background-color: var(--color-pop);
  border: 2px solid var(--nav-primary);
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  width: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.skill {
  border-radius: 5px 5px 5px 5px;
}

.tool {
  border-radius: 50px 0px 50px 0px;
}

.guide {
  border-radius: 50%;
}

#baggy {
  position: fixed;
  right: 60px;
  bottom: 0%;
}

/* TWEAKS */

.black-text {
  color: black;
}

.border {
  border: 1px solid var(--color-pop);
  border-radius: 15px;
}

.fix-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.click-me {
  background-color: var(--color-pop);
}

.click-me:hover {
  filter: brightness(70%);
}

.internal-column {
  width: 95%;
  margin: 5%;
}