/* Oxygen font family from Google Fonts, all styles */
@font-face {
  font-family: 'oxygenregular';
  src: url('fonts/oxygen-regular.woff2') format('woff2'),
    url('fonts/oxygen-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oxygenbold';
  src: url('fonts/oxygen-bold.woff2') format('woff2'),
    url('fonts/oxygen-bold.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}

/* Shadows into Light font family from Google Fonts, only normal */
@font-face {
  font-family: 'shadows_into_lightregular';
  src: url('fonts/shadowsintolight-regular.woff2') format('woff2'),
    url('fonts/shadowsintolight-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family:'Monocraft';
    src: url('fonts/Monocraft.woff2') format('woff2'),
		url('fonts/Monocraft.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}

:root {
  --nav-primary: #312509;
  --nav-secondary: #c69c72;
  --body-primary: #b1f8f2;
  --body-secondary: #046b76;
  --color-pop: #8dB38b;
  --default-num-columns: 3;
  --primary-text: "oxygenregular";
  --bold-text: "oxygenbold";
  --quote-text: "shadows_into_lightregular";
}

body {
  background-color: var(--body-primary);
  color: black;
  font-family: var(--primary-text);
}

b {
  font-family: var(--bold-text);
}

a {
  color: var(--color-pop);
  text-decoration: none;
  text-decoration-style: bold;
}

h1 h2 h3 h4 h5 h6 p {
  color: black;
}
